.tiles-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: -($tiles-items--padding__mobile * 0.5);
  margin-left: -($tiles-items--padding__mobile * 0.5);
  margin-top: -($tiles-items--padding__mobile * 0.5);

  &:last-of-type {
    margin-bottom: -($tiles-items--padding__mobile * 0.5);
  }

  &:not(:last-of-type) {
    margin-bottom: ($tiles-items--padding__mobile * 0.5);
  }

  &.push-left {
    &::after {
      content: "";
      flex-basis: $tiles-item--width;
      max-width: $tiles-item--width;
      box-sizing: content-box;
      padding-left: $tiles-items--padding__mobile * 0.5;
      padding-right: $tiles-items--padding__mobile * 0.5;
      height: 0;
    }
  }
}

.tiles-item {
  flex-basis: $tiles-item--width;
  max-width: $tiles-item--width;
  box-sizing: content-box;
  padding: $tiles-items--padding__mobile * 0.5;

  * {
    box-sizing: border-box;
  }
}

.tiles-item-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@if ($tiles-items--padding__desktop != null) {
  @include media(">medium") {
    .tiles-wrap {
      margin-right: -($tiles-items--padding__desktop * 0.5);
      margin-left: -($tiles-items--padding__desktop * 0.5);
      margin-top: -($tiles-items--padding__desktop * 0.5);

      &:last-of-type {
        margin-bottom: -($tiles-items--padding__desktop * 0.5);
      }

      &:not(:last-of-type) {
        margin-bottom: ($tiles-items--padding__desktop * 0.5);
      }

      &.push-left {
        &::after {
          padding-left: $tiles-items--padding__desktop * 0.5;
          padding-right: $tiles-items--padding__desktop * 0.5;
        }
      }
    }

    .tiles-item {
      padding: $tiles-items--padding__desktop * 0.5;
    }
  }
}

.tiles-row-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    fill: color-icon(link);
    transition: fill 0.15s ease;

    .invert-color & {
      fill: color-icon(link-inverse);
    }
  }
}

.tiles-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tiles-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@include media("<small") {
  .tiles-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .tiles-col {
    width: 100%;
  }
}

.twitter-tweet,
.twitter-tweet-rendered {
  height: 350px !important;
  overflow: hidden;
  overflow-x: scroll;
  width: 100% !important;
  overflow-y: scroll;
}
