# mongodb
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=database
## Create one user to init the database
MONGO_FIRST_USER_NAME=first_user
MONGO_FIRST_USER_ROLE=role
### IMPORTANT: the '\$' is needed to escape the '$' character 
MONGO_FIRST_USER_PASSWORD="$2a$--\--------------------------------" (HASH + SALT)
FIRST_USER_PASSWORD=first_user_passwd
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:${MONGO_PORT}/
# minio
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password
MINIO_PORT=9000
MINIO_PANEL_PORT=9001
MINIO_HOST=minio:9000
MINIO_URL=http://${MINIO_HOST}
MINIO_LANDING_ZONE=whatever-zone
MINIO_TRUSTED_ZONE=whatever-zone
MINIO_REFINED_ZONE=whatever-zone
# redis
REDIS_PORT=6379
REDIS_URI=redis:${REDIS_PORT}
REDIS_USERNAME=redis_username
REDIS_PASSWORD=redis__passwd
# gin-gonic server
GIN_PORT=8080
JWT_SECRET=jwt_secret_to_encrypt_token
KEY_DECRYPT_PASSWD=jwt_key_to_encrypt_token
IV_BLOCK_PASSWD=jwt_iv_block_to_encrypt_token
MONGO_DB=database
MINIO_ENDPOINT=${MINIO_HOST}
MINIO_ACCESS_KEY=${MINIO_ROOT_USER}
MINIO_SECRET_KEY=${MINIO_ROOT_PASSWORD}
MINIO_IMAGES_BUCKET_NAME=images-bucket
FRONTEND_URL=http://localhost:${VITE_PORT}
# frontend
VITE_PORT=3000
VITE_API_URL=http://localhost:${GIN_PORT}
VITE_IMAGES_SERVER_URL=${MINIO_URL}/${MINIO_IMAGES_BUCKET_NAME}
VITE_KEY_DECRYPT_PASSWD=key_to_encrypt_passwd
VITE_IV_BLOCK_PASSWD=iv_block_to_encrypt_passwd
VITE_EMAIL_SENDER_PUBKEY=email_emailjs
VITE_EMAIL_SENDER_SERVICEID=service_emailjs
VITE_EMAIL_SENDER_TEMPLATEID=templateid_emailjs
# rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15672
RABBITMQ_DEFAULT_USER=rabbitmq_user
RABBITMQ_DEFAULT_PASS=rabbitmq_passwd
RABBITMQ_URI=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_PORT}/
# prefect-server
PREFECT_API_URL=http://127.0.0.1:4200/api
PREFECT_API_DATABASE_PASSWORD=database_password
PREFECT_PORT=4200
AGROSLAB_AUTH_TOKEN=____
AGROSLAB_API_URL=____
AGROSLAB_TELEDETECTION_URL=____
# prefect-agent
PREFECT_SERVER_URL=http://prefect-server:4200/api
# prometheus

# loki

# grafana
GRAFANA_PORT=3010