.pagination {
  flex-direction: column;
  ul {
    list-style: none;
    a {
      padding: 3px 10px 3px 10px;
      color: color(base);
    }

    li {
      cursor: pointer;
      display: inline-block;
      margin: 10px;
      border: 1px color(low-contrast) solid;
      border-radius: 5px;
    }
    .selected > a {
      color: #fff;
    }
  }
}
