// Colors

// The color palette
$palette: (
	light: (
		1: #f2f0ee,
		2: #2f485a,
		3: #717d86,
		4: #ededed
	),
	dark: (
		1: #232d36,
		2: #354051,
		3: #3e4752
	),
	primary: (
		1: #509952,
		2: #acadff,
		3: #ddf5dd,
		4: #e9e9ff
	),
	secondary: (
		1: #e86723,
		2: #f19d62,
		3: #fc9b68,
		4: #d2f9ee
	),
	alert: (
		error: #eb5b6a,
		warning: #fcc07c,
		success: #4dc511
	)
);

// Base typography: color
$color: (
	heading: get-color(dark, 1),
	card: rgba(get-color(light, 1), 0.65),
	badge-notification: get-color(alert, error),
	base: get-color(dark, 2),
	high-contrast: get-color(light, 1),
	mid-contrast: get-color(light, 2),
	low-contrast: get-color(light, 3),
	disabled: get-color(primary, 2),
	primary: get-color(primary, 1),
	secondary: get-color(secondary, 1),
	error: get-color(alert, error),
	error-text: darken(get-color(alert, error), 40%),
	warning: get-color(alert, warning),
	warning-text: darken(get-color(alert, warning), 45%),
	success: get-color(alert, success),
	success-text: darken(get-color(alert, success), 45%),
	// ↓ Inverted colors
	heading-inverse: get-color(dark, 1),
	card-inverse: rgba(get-color(light, 1), 0.5),
	base-inverse: get-color(light, 3),
	high-contrast-inverse: get-color(dark, 1),
	mid-contrast-inverse: get-color(dark, 2),
	low-contrast-inverse: get-color(light, 3)
);

// Borders and dividers: color
$border--color: (
	divider: get-color(light, 3),
	divider-inverse: get-color(light, 1)
);

// Icons: fill color
$icon--color: (
	link: get-color(dark, 1),
	hamburger: get-color(light, 2),
	// hamburger icon
	accordion: get-color(primary, 1),
	// accordion icon
	social: get-color(primary, 1),
	// social icons
	social-hover: get-color(primary, 2),
	// social icons (:hover)
	modal: get-color(light, 3),
	// modal icon
	modal-hover: get-color(light, 2),
	// modal icon (:hover)
	news-more: get-color(primary, 2),
	// news - read more link arrow
	// ↓ Inverted colors
	hamburger-inverse: get-color(dark, 2),
	// hamburger icon
	accordion-inverse: get-color(primary, 1),
	// accordion icon
	link-inverse: get-color(light, 1),
	social-inverse: null,
	// social icons
	social-hover-inverse: null
		// social icons (:hover),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

// Misc elements: background color
$bg--color: (
	body: get-color(light, 4),
	body-outer: lighten(get-color(dark, 1), 2%),
	footer: get-color(dark, 1),
	bg-color: get-color(light, 1),
	shadow: 0 24px 64px rgba(get-color(dark, 1), 0.64),
	shadow-light: 0 14px 25px rgba(get-color(dark, 1), 0.18),
	code: darken(get-color(dark, 1), 3%),
	code-inverse: darken(get-color(dark, 1), 3%),
	check-checked-inverse: darken(get-color(dark, 1), 3%),
	primary: get-color(primary, 3),
	secondary: get-color(secondary, 3),
	card: get-color(light, 4)
);
