.features-tiles-item-image {
  display: inline-flex;
  border-radius: 10px;
  background-color: get-color(primary, 3);
}

.features-tiles-item-image-no-bg {
  display: inline-flex;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  will-change: scale opacity;
  img {
    object-fit: cover;
    width: 350px;
    height: 200px;
  }
  &:hover {
    scale: 1.05;
    opacity: 0.85;
  }

  @include media("<medium") {
    img {
      aspect-ratio: 16 / 9;
      height: auto;
    }
  }
}
