.dropdown-analysis {
  .dropdown-header {
    cursor: pointer;
  }
  .dropdown-content {
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    height: auto;
    max-height: 800px;
    overflow-x: scroll;
    &.off-is-active {
      max-height: 0;
      opacity: 0;
    }
  }
}
