.dropdown-analysis {
  .dropdown-header {
    cursor: pointer;
  }
  .dropdown-content {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    height: auto;
    max-height: 800px;
    overflow-x: scroll;
    filter: brightness(1);
    &.off-is-active {
      max-height: 0;
      filter: brightness(0.75);
    }
  }
}
