.notification {
  max-width: 600px;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  display: flex;
  justify-content: center;
  word-break: break-all;
  position: absolute;
  z-index: 30;
  margin: 20px;
  top: 0px;
}

@include media("<small") {
  .notification {
    margin: 0px;
  }
}

.notification-warn {
  @extend .notification;
  background-color: get-color(alert, warning);
  color: get-color(dark, 1);
}

.notification-success {
  @extend .notification;
  background-color: get-color(alert, success);
  color: get-color(light, 1);
}

.notification-error {
  @extend .notification;
  background-color: get-color(alert, error);
  color: get-color(dark, 1);
}
