.site-header {
  position: absolute !important;
  top: 0;
  width: 100%;
  background: color-bg(header);

  + .site-content {
    padding-top: $header-height__mobile;
  }

  .brand {
    margin-right: $header-nav--padding-h;
  }
}

.site-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height__mobile;
}

.header-nav {
  flex-grow: 1;

  .header-nav-inner {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;

    &:first-of-type {
      flex-wrap: no-wrap;
    }
  }

  li {
    cursor: pointer;
    margin: 0 $header-nav--padding-h;
    + .header-button {
      margin-left: $header-nav--padding-h;
    }
  }
}

.header-nav-center:first-of-type {
  flex-grow: 1;
  justify-content: flex-end;
}

.header-nav-right {
  list-style: none;
  justify-content: flex-end;
  padding-left: 0px;
  + .header-nav-right {
    flex-grow: 0;
  }
}

.header-nav-toggle {
  display: none;
}

.nav-dropdown {
  background: color(card);
  border: 1px solid #d8dae5;
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  max-width: 200px;
  border-radius: 6px;
  list-style: none;
  text-align: start;
  padding: 0;
  position: absolute;
  opacity: 0;
  right: 10px;
  display: block !important;
  visibility: hidden;
  animation: fadeOutAndSlideDown 0.1s ease-in;
  z-index: 9999;
  &.is-active {
    opacity: 1;
    visibility: visible;
    animation: fadeInAndSlideUp 0.1s ease-in;
  }

  li {
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    margin: 0;
    transition: all 0.2s ease-in-out;

    &:first-child {
      &:hover {
        background: #fcb738a7;
      }
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }

    &:hover {
      background: #c6f37393;
    }
  }
}

@include media("<=small") {
  .header-nav {
    .header-nav-inner {
      padding: $header-nav--padding-v__mobile;
    }

    ul {
      li {
        margin: 0 $header-nav--padding-h * 0.4;
      }
    }
  }
}

@include media(">medium") {
  .site-header {
    + .site-content {
      padding-top: $header-height__desktop;
    }
  }

  .site-header-inner {
    height: $header-height__desktop;
  }
}
