.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  padding-top: 6rem;

  .left {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .right {
    flex: 1;
  }

  .twitter {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    justify-content: space-between;

    @include media("<medium") {
      margin-top: 0 !important;
    }
  }
}
