.notifications-wrapper {
  background: rgba(0, 0, 0, 0.715);
  position: fixed;
  height: 100vh;
  width: 0;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 2000;

  &.off-is-active {
    width: 100vw;
  }
}

.notifications-inner {
  top: 0;
  right: 0;
  margin: 10px;
  width: 30%;
}
