API_KEY_DT=---
STRIPE_KEY=---
STRIPE_PRICE_ID=---
STRIPE_WEBHOOK_SECRET=---
# Chosen mail to send emails
EMAIL_SENDER_MAIL=ksjdhfksdh@example.com
# App password generated in Google account (https://support.google.com/accounts/answer/185833)
EMAIL_SENDER_PASSWD=---